$default: #2c2c2c;
$accent: #b44638;
$title: #181515;


%montserrat-700 {
  font-family: 'Montserrat-BoldItalic', sans-serif;
  font-weight: 700;
}

%montserrat-500 {
  font-family: 'Montserrat-MediumItalic', sans-serif;
  font-weight: 500;
}

%oswald-500 {
  font-family: 'Oswald-Light', sans-serif;
  font-weight: 500;
}

%oswald-400 {
  font-family: 'Oswald-ExtraLight', sans-serif;
  font-weight: 400;
}