html,
body {
  height: 100%;
}

body {
 color: #101010;
   font-size: 16px;
  line-height: 26px;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;

}

.container {
  max-width: 1580px;
  margin: 0 auto;
  padding: 0 0 px;
}

a {
  color: #101010;
  font-size: 16px;
  line-height: 26px;
}

.title {
  font-size: 48px;
  letter-spacing: 2px;
  line-height: 50px;
  color: #101010;
}

.link {
  transition: all .5s;
  letter-spacing: 1px;
  color: #101010;

  &:hover {
    letter-spacing: 7px;
  }
}
.text{
  font-size: 20px;
  color: #101010;
}
header{
  position: fixed;
    z-index: 999;
    background-color: #fff;
}