@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



.header {
  padding: 20px 0 10px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    line-height: 36px;
    font-size: 26px;
    display: flex;
    align-items: center;

  }

  &__list-item+.menu__list-item {
    padding-left: 36px;
  }

  &__list-link {
    letter-spacing: -1px;
    color: $title;
    transition: all .2s;
    @extend %montserrat-500;

    &:hover {
      border-bottom: 1px solid $accent;
      color: $accent;
      padding-bottom: 4px;
      @extend %montserrat-500;
    }
  }
}

.user-nav {
  display: flex;

  &__link {
    position: relative;
  }

  &__link+.user-nav__link {
    padding-left: 20px;
  }

  &__num {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $accent;
    top: -9px;
    right: -9px;
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    text-align: center;
  }
}

footer {
  background-color: $bg;
}

.footer__inner {
  padding: 30px 0 20px;
  border-top: 1px solid #e2e2e2;
  display: flex;
}

.footer {
  &__contact {
    width: 250px;
    margin-left: 110px;
  }

  &__subscription {
    max-width: 500px;
  }

  &__nav {
    width: 240px;
    margin-left: 120px;
  }

  &__title {
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    color: $accent;
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    @extend %montserrat-500;
  }

  &__title-subscription {
    margin: 30px 0 10px;
    color: $default;
  }

  &__inner__item,
  &__info-list,
  &__adress,
  &__email,
  &__phone {
    line-height: 36px;
    display: block;
  }

  &__social-list {
    display: flex;
    margin-top: 10px;
  }

  &__social-item+.footer__social-item {
    padding-left: 20px;
  }

  &__form {
    margin-top: 10px;
  }

  &__form-input {
    background-color: #fff;
    max-width: 350px;
    max-height: 40px;
    width: 100%;
    border: none;
    padding: 12px 10px 12px 15px;
    box-shadow: 0px 7px 20px 0px rgba(171, 60, 75, 0.2);

    &::placeholder {
      color: $default;
      font-size: 16px;
    }
  }

  &__form-btn {
    border: none;
    background-color: $accent;
    color: #fff;
    text-transform: uppercase;
    padding: 1px 10px;
    box-shadow: 0px 7px 20px 0px rgba(171, 60, 75, 0.2);
  }
}

.top-slider {
  &__item {
    background-position: center center;
    background-size: cover;
    min-height: calc(100vh - 85px);
  }

  &__text {
    font-size: 24px;
    line-height: 30px;
    @extend %montserrat-500;
    margin: 30px auto 40px auto;
    letter-spacing: 1.7px;
  }

 

  &__link {
    transition: all .5s;
    letter-spacing: 1px;
    @extend %oswald-500;

    &:hover {
      letter-spacing: 7px;
    }
  }

  &__small-appliances {
    display: block;
    margin: 100px auto 0 auto;
    height: 200px;
    max-width: 1100px;
    text-align: center;
  }

  &__text__small-appliances {
    max-width: 700px;
  }

  &__kettle {
    margin: 250px 0 0 80px;
    max-width: 650px;
  }

  &__dolcegabbana {
    display: block;
    margin: 100px auto 0 auto;
    height: 200px;
    max-width: 1100px;
    text-align: center;
  }

  &__multicooking-box {
    margin: 210px 0 0 0px;
    max-width: 600px;
    color: $line;

  }

  &__subtitle {
    margin-bottom: 20px;
  }

  &__link__multicooking {
    color: $line;
  }
}

.catalogs {
  &__inner {
    margin: 40px 0 40px 0;
    display: flex;
    justify-content: space-around;

  }

  &__item {
    text-align: center;
    padding: 0 70px 0 70px;

    &:hover {
      background-color: $bg;
    }
  }

  &__title {
    margin-top: 10px;
    letter-spacing: 1.7px;
    line-height: 50px;
    font-size: 36px;

  }

  &__subtitle {
    letter-spacing: 2px;
  }

  &__img {
    transition: all .5s;
    display: block;
    margin: 20px auto 10px auto;

    &:hover {
      filter: drop-shadow(1px 1px 30px rgb(57, 57, 57));
      padding-top: -40px;
    }
  }
}
.about-us{
  background-color: $bg;
  background-image: url(../images/src/bg_header_refrigetor.jpg);
  background-repeat: no-repeat;
  background-size: 47%;
  &__inner{
    max-width: 700px;
    margin-left: auto;
    padding: 50px 0 200px;
  }
  &__text{
    margin: 20px 0 20px;
    max-width: 500px;
    font-size: 20px;
    
  }
  &__link{
    transition: all .5s;
    letter-spacing: 1.5px;
    &:hover{
      margin-left: 20px;
      letter-spacing: 3px;
    }
  }
}



@import 'media';