<!DOCTYPE html>
<html lang="ua">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SMEG</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
  <heade class="header">
    <div class="container">
      <div class="header__inner">
        <a class="logo" href="#">
          <img class="logo__img" src="images/logo.svg" alt="logo">
        </a>
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">ПРО НАС</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">ВЕЛИКА ТЕХНІКА</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">МАЛА ТЕХНІКА</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">СПЕЦПРОЕКТИ</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">КОНТАКТИ</a>
            </li>
          </ul>
        </nav>
        <div class="user-nav">
          <a class="user-nav__link" href="#">
            <img class="user-nav__link-img" src="images/user.svg" alt="user icon">
          </a>
          <a class="user-nav__link" href="#">
            <img class="user-nav__link-img" src="images/heart.svg" alt="user icon">
            <span class="user-nav__num">3</span>
          </a>
          <a class="user-nav__link" href="#">
            <img class="user-nav__link-img" src="images/cart.svg" alt="user icon">
            <span class="user-nav__num">1</span>
          </a>
        </div>
      </div>
    </div>
  </heade>